.anim-controls {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid#323232;
    padding: 5px;
    background-color: #f1f1f1bc;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
}
.anim-buttons button {
    padding: 0;
    width: 36px;
    border: 2px solid#323232;
    background-color:#f1f1f150;
    color: #323232;
}
.animation input[type=checkbox] {
    display: none
}
.animation img {
    transition: transform 0.25s ease;
    cursor: zoom-in
}
.animation input[type=checkbox]:checked~img {
    transform: scale(2);
    transform-origin: top left;
    cursor: zoom-out
}
